@page "/"
@inject IJSRuntime JSRuntime

<MudGrid Spacing="20">
    <MudItem xs="12">
        <MudGrid Spacing="20">
            <MudItem xs="12">
                <MudStack Spacing="0">
                    <MudText Typo="Typo.h1" Class="mb-n5" Color="Color.Primary">Palarong Pambansa</MudText>
                    <MudStack Row AlignItems="AlignItems.End" Spacing="0">
                        <MudStack Row Spacing="1" AlignItems="AlignItems.End">
                            <MudText Typo="Typo.h3" HtmlTag="h2" Class="mb-n1" Color="Color.Tertiary">Agusan del Sur</MudText>
                            <MudText Typo="Typo.h3" HtmlTag="h2" Class="mb-n1" Color="Color.Secondary">2026</MudText>
                            <MudText Typo="Typo.h3" HtmlTag="h2" Color="Color.Tertiary"> | </MudText>
                        </MudStack>
                        <MudText Typo="Typo.body2">@days d : @hours h : @min m : @sec s</MudText>
                    </MudStack>
                </MudStack>
            </MudItem>
            <MudItem xs="12">
                <SportsCardComponent />
            </MudItem>
            <MudItem xs="12">
                <MudGrid>
                    <MudItem xs="12" md="6">
                        <MudPaper Height="250px" Class="pa-0 relative mud-border-tertiary" Outlined>
                            <MudStack Class="absolute pa-5" Style="left: 0; bottom: 0" Spacing="0">
                                <MudText Typo="Typo.h2" Color="Color.Primary">
                                    Tourism
                                </MudText>
                                <MudText Typo="Typo.body2" Color="Color.Tertiary">
                                    Discover the rich culture, scenic landscapes, and vibrant local attractions of Agusan del Sur that make Palaro 2026 an unforgettable experience.
                                </MudText>
                            </MudStack>
                        </MudPaper>
                    </MudItem>
                    <MudItem xs="12" md="6">
                        <MudPaper Height="250px" Class="pa-0 relative mud-border-tertiary" Outlined>
                            <MudStack Class="absolute pa-5" Style="left: 0; bottom: 0" Spacing="0">
                                <MudText Typo="Typo.h2" Color="Color.Primary">
                                    Accommodation
                                </MudText>
                                <MudText Typo="Typo.body2" Color="Color.Tertiary">
                                    Find the perfect place to stay in Agusan del Sur, offering a wide range of comfortable and convenient accommodations for all Palaro 2026 visitors.
                                </MudText>
                            </MudStack>
                        </MudPaper>
                    </MudItem>
                </MudGrid>
            </MudItem>
            <MudItem xs="12">
                <SponsorsComponent />
            </MudItem>
        </MudGrid>
    </MudItem>
    <MudItem xs="12">
        <FooterComponent />
    </MudItem>
</MudGrid>

<MudScrollToTop TopOffset="100" Selector="#another_unique_identifier" Style="z-index:2001;">
    <div class="mud-theme-secondary px-3 py-6 mud-elevation-16 rounded-xl fixed" style="bottom:20px;left:20px;">Scroll to top custom button</div>
</MudScrollToTop>
@code {
    private string eventStarted = string.Empty;
    private string days = string.Empty;
    private string hours = string.Empty;
    private string min = string.Empty;
    private string sec = string.Empty;
    private DateTime targetDate = new DateTime(2026, 7, 10, 0, 0, 0);
    private Timer? timer;


    protected override void OnInitialized()
    {
        StartCountdown();
    }

    private void StartCountdown()
    {
        // Set up a timer to trigger every second
        timer = new Timer(UpdateCountdown, null, 0, 1000);
    }

    private void UpdateCountdown(object state)
    {
        var timeLeft = targetDate - DateTime.Now;

        if (timeLeft.TotalSeconds > 0)
        {

            days = String.Format($"{timeLeft.Days}");
            hours = String.Format($"{timeLeft.Hours}");
            min = String.Format($"{timeLeft.Minutes}");
            sec = String.Format($"{timeLeft.Seconds}");
        }
        else
        {
            eventStarted = "The event has started!";
            timer?.Dispose(); // Stop the timer when the countdown is over
        }

        InvokeAsync(StateHasChanged); // Ensure UI is updated
    }

    public void Dispose()
    {
        timer?.Dispose(); // Clean up the timer when the component is disposed
    }
}

