/* Add smooth scrolling effect */
.smooth-scroll {
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #EFEFEF;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #bcbcbc;
}
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #999999;
    }
